@{
    ViewBag.Title = "TechSearchArticle";
    Layout = "~/Views/Shared/_EyegazeLayout.cshtml";
}

<div id="EyegazeContentBody">
    <h6>Please search for content related to food in this article and feel free to ask the facilitators, Jason or Bridget if you have any queries</h6>
        NB the following article is from Wikipedia, all credit for the content belongs solely to the wikipedia community
    <br />
    http://en.wikipedia.org/wiki/Grass
    <br />
    <br />
    <hr />
    <br />

    
    <h2>Grass</h2>

    <p><b>Grasses</b>, or more technically <b>graminoids</b>, are monocotyledonous, usually herbaceous plants with narrow leaves growing from the base. They include the "true grasses", of the Poaceae (or Gramineae) family, as well as the sedges (Cyperaceae) and the rushes (Juncaceae). The true grasses include cereals, bamboo and the grasses of lawns (turf) and grassland. Sedges include many wild marsh and grassland plants, and some cultivated ones such as water chestnut (<i>Eleocharis dulcis</i>) and papyrus sedge (<i>Cyperus papyrus</i>). Uses for graminoids include food (as grain, sprouted grain, shoots or rhizomes), drink (beer, whisky,vodka), pasture for livestock, thatch, paper, fuel, clothing, insulation, construction, sports turf, basket weaving and many others.</p>

    <h2> <span class="mw-headline" id="Ecology">Ecology</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/22/Kangur.rudy.drs.jpg/220px-Kangur.rudy.drs.jpg" width="220" height="145" class="thumbimage" />
<div class="thumbcaption">
<div class="magnify"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></div>
A kangaroo eating grass</div>
</div>
</div>
<p>Graminoids are among the most versatile life forms. They became widespread toward the end of the Cretaceous period, and fossilized dinosaur dung (coprolites) have been found containing phytoliths of a variety of grasses that include grasses that are related to modern rice and bamboo.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> Grasses have adapted to conditions in lush rain forests, dry deserts, cold mountains and even intertidal habitats, and are now the most widespread plant type; grass is a valuable source of food and energy for all sorts of wildlife and organics.</p>
<p>Graminoids are the dominant vegetation in many habitats, including grassland, salt-marsh, reedswamp and steppes. They also occur as a smaller part of the vegetation in almost every other terrestrial habitat.</p>
<p>There are some 3,500 species of graminoids.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<p>Many types of animals eat grass as their main source of food, and are called <i>graminivores</i> – these include cattle, sheep, horses, rabbits and many invertebrates, such as grasshoppers and the caterpillars of many brown butterflies. Grasses are also eaten by omnivorous or even occasionally by primarily carnivorous animals.</p>
<p>In the study of ecological communities, herbaceous plants are divided into graminoids and <i>forbs</i>, which are herbaceous dicotyledons, mostly with broad leaves.</p>
<h2> <span class="mw-headline" id="Agriculture">Agriculture</span></h2>
<p>Plants of this type have always been important to humans. They have been grown as food for domesticated animals for up to 6,000 years. (See grass fed beef.) They have been used for paper-making since 2400 BC or before. Now they provide the majority of food crops, and have many other uses, such as feeding animals, and for lawns. There are many minor uses, and grasses are familiar to most human cultures.</p>

<h6>Please notify the facilitators when you have finished reading the above text and feel that you are ready to begin the testing</h6>
</div>
