@{
    ViewBag.Title = "TechSearchArticle";
    Layout = "~/Views/Shared/_EyegazeLayout.cshtml";
}

<div id="EyegazeContentBody">
    <h6>Please search for XYZ in this article and feel free to ask the facilitators, Jason or Bridget if you have any queries</h6>
        NB the following article is from XYZ, all credit for the content belongs solely to them
    <br />
    Citation of source here
    <br />
    <br />
    <hr />
    <br />
    
    <h2>TechSearchArticle</h2>



</div>
