@{
    ViewBag.Title = "Unicorns";
   
}
<h2>Unicorns</h2>@*
<img src="../../Content/Unicorn.jpg" alt="Unicorn"/>

<img src="../../Content/machu-pichu.jpg" alt="Steps" />

<img src="../../Content/egypt.jpg" alt="Egypt" />

<img src="../../Content/brazil-1024x768.jpg" alt="Brazil" />

<img src="../../Content/chainOfForcedSplitting.png" alt="diagram" />

<img src="../../Content/seven-wonders-Colloseum.jpg" alt="Colloseum" />

<img src="../../Content/taj-mahal-reflection.jpg" alt="India" />

<img src="../../Content/Cristo_Redentor.jpg" alt="CristoRedenter" />

<img src="../../Content/EasterIsland02.jpg" alt="EasterIsland" />
<img src="../../Content/Unicorn.jpg" alt="Unicorn"/>

<img src="../../Content/machu-pichu.jpg" alt="Steps" />

<img src="../../Content/egypt.jpg" alt="Egypt" />

<img src="../../Content/brazil-1024x768.jpg" alt="Brazil" />

<img src="../../Content/chainOfForcedSplitting.png" alt="diagram" />

<img src="../../Content/seven-wonders-Colloseum.jpg" alt="Colloseum" />

<img src="../../Content/taj-mahal-reflection.jpg" alt="India" />

<img src="../../Content/Cristo_Redentor.jpg" alt="CristoRedenter" />

<img src="../../Content/EasterIsland02.jpg" alt="EasterIsland" />
<img src="../../Content/Unicorn.jpg" alt="Unicorn"/>

<img src="../../Content/machu-pichu.jpg" alt="Steps" />

<img src="../../Content/egypt.jpg" alt="Egypt" />

<img src="../../Content/brazil-1024x768.jpg" alt="Brazil" />

<img src="../../Content/chainOfForcedSplitting.png" alt="diagram" />

<img src="../../Content/seven-wonders-Colloseum.jpg" alt="Colloseum" />

<img src="../../Content/taj-mahal-reflection.jpg" alt="India" />

<img src="../../Content/Cristo_Redentor.jpg" alt="CristoRedenter" />

<img src="../../Content/EasterIsland02.jpg" alt="EasterIsland" />
<img src="../../Content/Unicorn.jpg" alt="Unicorn"/>

<img src="../../Content/machu-pichu.jpg" alt="Steps" />

<img src="../../Content/egypt.jpg" alt="Egypt" />

<img src="../../Content/brazil-1024x768.jpg" alt="Brazil" />

<img src="../../Content/chainOfForcedSplitting.png" alt="diagram" />

<img src="../../Content/seven-wonders-Colloseum.jpg" alt="Colloseum" />

<img src="../../Content/taj-mahal-reflection.jpg" alt="India" />

<img src="../../Content/Cristo_Redentor.jpg" alt="CristoRedenter" />

<img src="../../Content/EasterIsland02.jpg" alt="EasterIsland" />
<img src="../../Content/Unicorn.jpg" alt="Unicorn"/>

<img src="../../Content/machu-pichu.jpg" alt="Steps" />

<img src="../../Content/egypt.jpg" alt="Egypt" />

<img src="../../Content/brazil-1024x768.jpg" alt="Brazil" />

<img src="../../Content/chainOfForcedSplitting.png" alt="diagram" />

<img src="../../Content/seven-wonders-Colloseum.jpg" alt="Colloseum" />

<img src="../../Content/taj-mahal-reflection.jpg" alt="India" />

<img src="../../Content/Cristo_Redentor.jpg" alt="CristoRedenter" />

<img src="../../Content/EasterIsland02.jpg" alt="EasterIsland" />
<img src="../../Content/Unicorn.jpg" alt="Unicorn"/>

<img src="../../Content/machu-pichu.jpg" alt="Steps" />

<img src="../../Content/egypt.jpg" alt="Egypt" />

<img src="../../Content/brazil-1024x768.jpg" alt="Brazil" />

<img src="../../Content/chainOfForcedSplitting.png" alt="diagram" />

<img src="../../Content/seven-wonders-Colloseum.jpg" alt="Colloseum" />

<img src="../../Content/taj-mahal-reflection.jpg" alt="India" />

<img src="../../Content/Cristo_Redentor.jpg" alt="CristoRedenter" />

<img src="../../Content/EasterIsland02.jpg" alt="EasterIsland" />
<img src="../../Content/Unicorn.jpg" alt="Unicorn"/>

<img src="../../Content/machu-pichu.jpg" alt="Steps" />

<img src="../../Content/egypt.jpg" alt="Egypt" />

<img src="../../Content/brazil-1024x768.jpg" alt="Brazil" />

<img src="../../Content/chainOfForcedSplitting.png" alt="diagram" />

<img src="../../Content/seven-wonders-Colloseum.jpg" alt="Colloseum" />

<img src="../../Content/taj-mahal-reflection.jpg" alt="India" />

<img src="../../Content/Cristo_Redentor.jpg" alt="CristoRedenter" />

<img src="../../Content/EasterIsland02.jpg" alt="EasterIsland" />*@